*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* 
============================================================
UNIVERSAL PROPERTIES
============================================================
*/
body{
    height:100%;
    position:relative;
}
.clr{
    clear:both;
}
.container:not(footer){
    display:block; 
    width: 80%;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    /* padding-bottom:175px; /*for the footer*/ */
}
.active{
    color:red;
}

.button{
    margin-top:50px;
}
.button a{
    padding:10px;
    margin:auto;
    background-color:#555555;
    border: 0px;
    color:white;
    font-weight:bold;
    text-decoration:none;
}
.button a:hover{
    background:red;
}

/* 
============================================================
FOR STUFF AT THE HEADER
============================================================
 */
header img{
    float:left;
    width: 75px;
    margin: 30px;
}
header nav a{
    float:right;
    text-decoration:none;
    font-weight:bold;
    color:black;
    margin:15px;
    margin-top:50px;
    padding-bottom:10px;
    border-bottom:2px solid;
    
}

/* 
============================================================
FOR STUFF IN THE BODY
============================================================
 */
.main{
    position:absolute;
    top:250px;
}

/* BIO TEXT*/
#bio{
    position:relative;
    top:100px;
    float:right;
    width: 50%; 
}

#bio p{
    /* line-height:1.5em; */
    text-align:justify;
    line-height:1.5em;
}

/* BIO HEADER */
#introLine{
    font-size:50px;
    color: black;
    font-weight:bold;
    margin-bottom:5px;
    
}
#introLine em{
    color:red;
}

#introLatter {
    font-size:25px;
    font-weight:bold;
    color:black;
    margin-bottom:10px;
    
}
/* BIO IMAGE*/
#portrait{
    position:relative;
    top:-100px;
    
    float:left;
    padding:50px;
    width:50%;
}

/* 
============================================================
FOR STUFF IN THE FOOTER
============================================================
 */
footer{
    background-color:#000;
    padding:75px;
    margin-top:100px;
    color:white;
    font-weight:bold;
    width:100%;
}

.leftFooter{
    float:left;
}
.rightFooter{
    float:right;
}
.footerNav a{
    text-decoration:none;
    align:right;
    color:white;
}
.footerNav{
    list-style-type:none;
    margin-bottom:25px;
}
    