*{
    margin:0;
    padding:0;
    font-family: helvetica, sans-serif;
    box-sizing:border-box;
    scroll-behavior: smooth;    
}

body{
    width:100vw;
}

#container{
    width:65%;
    margin:auto;
}
/* 
============================================================
UNIVERSAL PROPERTIES
============================================================
*/
.clr{
    clear:above;
}

.section-title{
    font-size: 1.5vw;
    padding-top: 3vw;
    border-bottom: 0.15vw solid #1212;  
}
/* 
============================================================
LANDING
============================================================
 */
#home{
    height: 100vh;
    position: relative;
}

#home_nav li{
    list-style: none;
    display: inline-block;
    text-align: left;
}
.home_nav-opt{
    float:right;
    text-decoration:none;
    font-weight:bold;
    color:#121212;
    margin:2vw 0.25vw 1vw 0;
    padding: 0.5vw;
    
}
#home_intro{
    position: absolute;
    top:35vh;
    font-size:5vh;
}
#home_intro span{
    display:block;
    width:25vw;
    text-overflow: nowrap;
    color: #888;
    font-weight:300;
}

/*

============================================================
FOR STUFF IN THE BODY
============================================================
 */
 

#about{
    height:90vh;   
    display: grid;
    grid-gap: 0.5vw;
    grid-template-columns: repeat(10, 1fr);    
    grid-template-rows: repeat(20, 2vw);    
}

#about_quote{
    grid-column: 1 / 6;
    grid-row: 4/ 5;
    align-self: end;
    font-size: 1.25vw;
    font-weight: 300;
    font-style: italic;
    padding-left: 1em;
    border-left: 0.15em solid black;
}
#about_portrait{
    grid-column: 6 / 11;
    grid-row: 4 / 15;
    object-fit: cover;
    width:100%;
    height:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10); 
}

#about_portrait.animate {
    animation: fade-in 1s ease-in, slide-in-left 0.75s ease-in;
}

#about_description{
    grid-column: 1 / 5;
    grid-row: 6 / 16;
    font-size: 1.25vw;
    font-weight:300;
    line-height:1.5em;
}
/* ===========
Portfolio
=============*/
#portfolio{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(50,5vh);
    grid-gap: 1vh;
}
.portfolio_item{
    position: relative;
}
.portfolio_overlay{
    transition: .5s ease;
    position: absolute;
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.75);
    height:100%;
    width:100%;
    text-align: center;
    color:white;
    font-size:1.5vw;
    font-weight:500;
}
.portfolio_overlay_year{
    font-size:2.5vw;
    font-weight: 800;
}

.portfolio_item:hover .portfolio_overlay{
    opacity: 1;
}

.galleryImage{
    transition: 0.1s;
    object-fit: cover;
    width:100%;
    height:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

#portfolio_item0{
    grid-column: 1 / 2;
    grid-row: 2 / 9;
    filter: saturate(1.1);
}

#portfolio_item1 {
    grid-column: 2 / 3;
    grid-row: 2 / 13;
}

#portfolio_item2 {
    grid-column: 1 / 2;
    grid-row: 9 / 20;
}

#portfolio_item3 {
    grid-column: 2 / 3;
    grid-row: 13 / 20;
    filter: saturate(1.5);
}
#portfolio_item4 {
    grid-column: 1 / 2;
    grid-row: 20 / 27;
}
#portfolio_item5 {
    grid-column: 2 / 3;
    grid-row: 20 / 30;
}
#portfolio_item6 {
    grid-column: 1 / 2;
    grid-row: 27 / 35;
}
#portfolio_item7 {
    grid-column: 2 / 3;
    grid-row: 30 / 38;
}
#portfolio_item8 {
    grid-column: 1 / 2;
    grid-row: 35 / 49;
}
#portfolio_item9 {
    grid-column: 2 / 3;
    grid-row: 38 / 52;
}


/* 
============================================================
FOR STUFF IN THE FOOTER
============================================================
 */
 
footer{
    border-top: 0.1vh solid #999;
    padding:5vw 0  5vw 0;
    margin-top:100px;
    color:#000;
    height: 30vh;
    font-size: 2.5vh;
}
footer p, .footer_nav a{
    font-size: 2vh;
}
.footer_nav{
    margin: 0.5vw 0 1vw 0;
    list-style: none;
    padding: 1vw 0 1vw 0;
}

.footer_nav li{
    display: inline;
}

.footer_nav a{
    text-decoration: none;
    color: #000;
    margin-right: 0.75vw;
}
a{
    transition: 0.5s ease;
}
a:hover{
    color: #DAA520;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(0);
    }
}